<mat-card class="example-card">
  <mat-card-content>
    <div class="card-content" *ngIf="this.deviceDetails">

      <div class="card-content-item">
        <span class="text-truncate"><small class="text-muted">Contract Id:</small></span>
        <span class="text-truncate"><small class="text-muted">Debtor Id:</small></span>
        <span class="text-truncate"><small class="text-muted">Plan Id:</small></span>
        <span *ngFor="let product of this.deviceDetails.products; index as i" class="text-truncate"><small
            class="text-muted">Product {{i+1}}:</small></span>
      </div>

      <div class="card-content-item card-text-value">
        <span class="text-truncate" title="{{this.deviceDetails.contractId}}"><small
            class="text-muted">{{this.deviceDetails.contractId}}</small></span>
        <span class="text-truncate" title="{{this.deviceDetails.debtorId}}"><small
            class="text-muted">{{this.deviceDetails.debtorId}}</small></span>
        <span class="text-truncate" title="{{this.deviceDetails.planId}}"><small
              class="text-muted">{{this.deviceDetails.planId}}</small></span>
        <span *ngFor="let product of this.deviceDetails.products" class="text-truncate" title="{{product}}"><small
            class="text-muted">{{product}}</small></span>
      </div>
    </div>
  </mat-card-content>
</mat-card>