<div class="form-group">
  <c8y-form-group>
    <div>
    <label translate style="display: inline !important;">Filter plans:</label>
    <input #searchString id="search-box" (input)="searchPlans(searchString.value)" />
    </div>
  </c8y-form-group>
</div>

<!-- <table class="table table-condensed table-striped table-vertical-middle table-fixed">
  <thead class="headers table-header-sticky">
    <tr>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Selected</div>
      </th>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Name</div>
      </th>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Plan Id</div>
      </th>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Plan Ident</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of plans$| async">
      <td class="datapoint text-center">
        <label class="c8y-switch">
          <input id="{{'selected-' + plan.planId}}" type="checkbox" [attr.checked]="plan.selected ? 'checked' : null"
            (change)="onChange($event)" />
          <span></span>
        </label>
      </td>
      <td class="datapoint text-left">{{plan.name}}</td>
      <td class="datapoint text-ledt">{{plan.planId}}</td>
      <td class="datapoint text-left">{{plan.planIdent}}</td>
    </tr>
  </tbody>
</table> -->


<table class="table table-condensed table-striped table-vertical-middle table-fixed">
  <thead class="headers table-header-sticky">
    <tr>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Selected</div>
      </th>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Name</div>
      </th>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Plan Id</div>
      </th>
      <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Options</div>
      </th>
<!--       <th style="min-width: 140px!important; top: 36px; z-index: 12;">
        <div translate="" class="header-cell">Plan Ident</div>
      </th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of plans">
      <td class="datapoint text-center">
        <label class="c8y-switch">
          <input id="{{'selected-' + plan.planId}}" type="checkbox" [attr.checked]="plan.selected ? 'checked' : null"  [(ngModel)]="plan.selected"
            (change)="onChange($event)" />
          <span></span>
        </label>
      </td>
      <td class="datapoint text-left">{{plan.name}}</td>
      <td class="datapoint text-left">{{plan.planId}}</td>
      <td class="datapoint text-left" ><a id="{{'option-' + plan.planId}}" (click)="openOptionDialog($event)" class="interact">{{plan.optionsProductname}}</a></td>
<!--       <td class="datapoint text-left">{{plan.planIdent}}</td> -->
    </tr>
  </tbody>
</table>